<!DOCTYPE html>
<html>
  <head>
    <title>Wrapp Demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid">

      <div class="row g-5">

        <div class="col-12 bg-light">
          <%= render 'layouts/main_nav' %>
        </div>

        <div class="col-12">
          <div class="container">

            <div class="col-12" id="flash" data-controller="notifications" >
              <%= render 'layouts/notifications' %>
            </div>

            <%= yield %>

          </div>
        </div>

      </div>

    </div>

  </body>

</html>
